/* ----------- defaults -----------  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.desktopView {
  display: none;
}

/* ----------- body ----------- */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(229, 197, 198, 255);
  /* background-image: linear-gradient(to bottom right, #ecd3d7, #e8c9cc); */
}

/* ----------- header ----------- */
/* topContainer (myName, logos, Nav optionsBar), heroSection */
/* ----------- TOP ----------- */
.topContainer {
  display: flex;
  position: fixed;
  width: 100%;
  /* how do I make this the whole line and not transparent? it's not on top of the next absolute */
  /* why there's a space at the top? */
  background-color: rgba(179, 207, 210, 255);
}

#myName {
  font-size: 20px;
}

.logos {
  display: flex;
  width: 75vw;
  height: 75px;
  align-items: center;
  justify-content: space-evenly;
}

.logos i {
  color: white;
  font-size: 30px;
}

/* ----------- NAV ----------- */
.collapsible {
  background-color: rgb(247, 218, 165);
}

/* ----------- HERO ----------- */

/* .heroSection {
  width: 100%;
  display: block;
  border-radius: 20px;
I don't think I need this
} */

header {
  position: relative;
}

.heroSection img {
  width: 100%;
}

.heroText {
  background-color: rgba(248, 196, 228, 0.5);
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 35px;
  left: 20px;
  text-align: center;
}

.heroText p {
  font-size: 12px;
}

.heroText h1 {
  font-size: 25px;
}

.hireMe {
  margin-top: 10px;
  padding: 3px 7px;
  background-color: rgba(179, 207, 210, 255);
  /* box-shadow: 8px; - not working, check later */
}

/* ----------- main ----------- */
/* about, portfolio (p1, p2, p3), contact (form, social media) */

/* ----------- section ABOUT ----------- */
/* text and image */

.about {
  /* background-color: rgb(230, 240, 240); */
  /* deciding if giving it another color or not */
  padding: 5px;
}

#aboutImage {
  width: 200px;
  float: right;
}
/* ----------- section PORTFOLIO ----------- */
/* container, p1, p2, p3 */

.portfolio {
  background-color: rgba(179, 207, 210, 255);
  padding: 5px;
}

.p1,
.p2,
.p3 {
  padding-top: 5px;
  padding-bottom: 80px;
  text-align: center;
  margin: 10px;
  border: 1px solid grey;
}

/* ----------- section CONTACT ----------- */
/* title, form, social media */

.contact {
  /* background-color: rgb(139, 85, 160); */
  padding: 5px;
}

.contactFlex {
  display: flex;
}

.formContainer {
  background-color: rgba(179, 207, 210, 255);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

input[type="submit"] {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: rgba(248, 196, 228, 0.5);
}

/* ----------- footer ----------- */
/* Name, copyright */
footer {
  display: inline-flex;
  width: 100%;
  /* find out why this and top are not a full lenght box */
}

/* MOBILE FIRST APPROACH - TABLET BELLOW */
@media screen and (min-width: 375px) and (max-width: 768px) {
  selector {
  }
}

/* MOBILE FIRST APPROACH - DESKTOP BELLOW */
@media screen and (min-width: 769px) {
  .mobileView {
    display: none;
  }
  .desktopView {
    display: block;
  }

  body {
    /* display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto; */
    /* I think I just need this in desktop view */
  }

  /* check if needed?
  .about,
  .portfolio,
  .contact {
    background-color: #ffc702;
    margin: 5px 0px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
  } */

  /* Will I need these two stylings?
  .hero {
    width: 900px;
    display: block;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-text {
    background-color: rgba(255, 242, 117, 0.5);
    display: inline-block;
    border-radius: 5px;
    padding: 15px;
    position: absolute;
    top: 200px;
    right: 200px;
    text-align: center; 
  }*/

  .heroImage {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0 0 8px 8px white inset;
    I want to fade/blur the edges but isn't working
    https://codepen.io/burtclan/pen/mLqxC 
    https://stackoverflow.com/questions/24709915/blur-the-edges-of-an-image-or-background-image-with-css*/
  }

  .portfolioBox {
    display: flex;
  }
}
