/* ----------- defaults -----------  */
/* ----------- body ----------- */
/* ----------- header ----------- */
/* topContainer (myName, logos) Nav (optionsBar, button, optionsList), heroSection */
/* ----------- TOP ----------- */
/* ----------- NAV ----------- */
/* ----------- HERO ----------- */

/* ----------- main ----------- */
/* about, portfolio (p1, p2, p3), contact (form, social media) */
/* ----------- section ABOUT ----------- */
/* text and image */
/* ----------- section PORTFOLIO ----------- */
/* container, p1, p2, p3 */
/* ----------- section CONTACT ----------- */
/* title, form, social media */

/* ----------- footer ----------- */
/* Name, copyright */

/* MOBILE FIRST APPROACH - TABLET BELLOW */
/* MOBILE FIRST APPROACH - MOBILE BELLOW */
/* main changes: 
      changes header topContainer nav list
      header hero sizing 
      portfolio */

/* colors: 
  titles rgb(68, 58, 58)
  other text rgb(114, 97, 97)
  main background rgba(229, 195, 195, 255)
  second background rgba(179, 207, 210, 255)
  blurr backgrounds rgb(206,175,175) */

/* ----------- defaults -----------  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  color: rgb(68, 58, 58);
}

h2 {
  font-size: 20px;
}

p {
  color: rgb(114, 97, 97);
}

span {
  font-weight: bold;
}

button,
a {
  font-weight: bold;
  color: rgb(68, 58, 58);
}

button,
input[type="submit"] {
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.desktopView {
  display: none;
}

/* ----------- body ----------- */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(179, 207, 210, 255);
  /* background-image: linear-gradient(to bottom right, #ecd3d7, #e8c9cc); */
}

/* ----------- header ----------- */
/* topContainer (myName, logos) Nav (optionsBar, button, optionsList), heroSection */
/* ----------- TOP ----------- */
.topContainer {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  top: 0px;
  /* how do I make this the whole line and not transparent? it's not on top of the next absolute */
  /* why there's a space at the top? */
  background-color: rgba(179, 207, 210, 255);
}

#myName {
  font-size: 20px;
}

.logos {
  display: flex;
  width: 75vw;
  height: 75px;
  /* gap: 30px; not needed because of next line */
  justify-content: space-evenly;
  align-items: center;
}

.logos i {
  color: white;
  font-size: 30px;
}

/* ----------- NAV ----------- */
.collapsible {
  background-color: rgba(229, 197, 198, 255);
  font-size: 30px;
  padding: 8px 12px;
  margin: 3px;
}

.buttonContent {
  position: fixed;
  right: 0px;
  top: 75px;
  background-color: rgba(179, 207, 210, 0.5);
  list-style-type: none;
  padding: 20px 20px;
}

/* ----------- HERO ----------- */

/* .heroSection {
  width: 100%;
  display: block;
  border-radius: 20px;
I don't think I need this
} */

header {
  position: relative;
  background-color: rgba(229, 195, 195, 255);
}

.heroSection img {
  width: 100%;
  margin-top: 75px;
}

.heroText {
  background-color: rgba(206, 175, 175, 0.5);
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 100px;
  left: 20px;
  text-align: center;
}

.heroText p {
  font-size: 12px;
}

.heroText h1 {
  font-size: 25px;
}

.hireMe {
  margin-top: 10px;
  padding: 3px 7px;
  background-color: rgba(179, 207, 210, 255);
  /* box-shadow: 8px; - not working, check later */
}

/* ----------- main ----------- */
/* about, portfolio (p1, p2, p3), contact (form, social media) */

/* ----------- section ABOUT ----------- */
/* text and image */

.about {
  /* background-color: rgb(230, 240, 240); */
  /* deciding if giving it another color or not */
  padding: 5px;
}

/* ----------- section PORTFOLIO ----------- */
/* container, p1, p2, p3 */

.portfolio {
  background-color: rgba(179, 207, 210, 255);
  padding: 5px;
}

.portfolioCard {
  /* background-color: rgba(206, 175, 175, 0.5); */
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(229, 195, 195, 1);
  margin-bottom: 20px;
  /* border: 1px solid grey; */
}

.portfolioItemTitle {
  text-align: center;
}

.portfolioImage {
  font-size: 200px;
  color: rgba(179, 207, 210, 255);
  background-color: white;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.portfolioInfo {
  font-size: 14px;
  text-align: justify;
  margin: 10px 25px;
}

.portfolioLinks {
  display: flex;
  justify-content: space-evenly;
}

.portfolioLinks a {
  font-size: 14px;
  text-decoration: none;
  background-color: rgba(179, 207, 210, 255);
  border-radius: 5px;
  padding: 8px;
}

/* ----------- section CONTACT ----------- */
/* title, form, social media */

.contact {
  /* background-color: rgb(139, 85, 160); */
  padding: 5px;
}

.contactFlex {
  display: flex;
}

.formContainer {
  background-color: rgba(179, 207, 210, 255);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

input[type="submit"] {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: rgba(248, 196, 228, 0.5);
}

.socialMedia {
  display: flex;
  flex-direction: column;
}

/* ----------- footer ----------- */
/* Name, copyright */
footer {
  display: inline-flex;
  width: 100%;
  /* find out why this and top are not a full lenght box */
}

/* MOBILE FIRST APPROACH - TABLET BELLOW */
@media screen and (min-width: 501px) and (max-width: 800px) {
  /* body {
    background-color: yellowgreen;
  } */

  .portfolioCards {
    display: flex;
    flex-wrap: wrap;
  }

  .portfolioCard {
    width: 45vw;
  }
}

/* need to ajudt item here after destkop */

/* MOBILE FIRST APPROACH - DESKTOP BELLOW */
@media screen and (min-width: 801px) {
  /* ----------- defaults -----------  */

  .mobileView {
    display: none;
  }

  .desktopView {
    display: inline;
  }

  /* ----------- body ----------- */

  body {
    /* display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto; */
    /* I think I just need this in desktop view */
  }

  /* check if needed?
  .about,
  .portfolio,
  .contact {
    background-color: #ffc702;
    margin: 5px 0px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
  } */

  /* ----------- header ----------- */
  /* topContainer (myName, logos) Nav (optionsBar, button, optionsList), heroSection */
  /* ----------- TOP ----------- */

  /* ----------- NAV ----------- */

  /* reversing the order of the top components */
  .topContainer {
    display: flex;
  }

  #myName {
    order: 1;
  }
  #logos {
    order: 3;
  }
  #navOptions {
    order: 2;
    flex-grow: 1;
  }

  .optionsList {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
  }

  .optionsList li {
    background-color: rgba(229, 197, 198, 255);
    padding: 5px 10px;
    margin: 10px;
  }

  .logos {
    display: flex;
    width: 15vw;
    height: 75px;
    align-items: center;
  }

  .logos i {
    color: white;
    font-size: 30px;
  }

  /* ----------- HERO ----------- */

  /* Will I need these two hero stylings?
  .hero {
    width: 900px;
    display: block;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-text {
    background-color: rgba(255, 242, 117, 0.5);
    display: inline-block;
    border-radius: 5px;
    padding: 15px;
    position: absolute;
    top: 200px;
    right: 200px;
    text-align: center; 
  }*/

  .heroSection img {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0 0 8px 8px white inset;
    I want to fade/blur the edges but isn't working
    https://codepen.io/burtclan/pen/mLqxC 
    https://stackoverflow.com/questions/24709915/blur-the-edges-of-an-image-or-background-image-with-css*/
  }

  /* ----------- main ----------- */
  /* about, portfolio (p1, p2, p3), contact (form, social media) */
  /* ----------- section ABOUT ----------- */
  /* text and image */
  /* ----------- section PORTFOLIO ----------- */
  /* container, p1, p2, p3 */

  .portfolioCards {
    display: flex;
    flex-wrap: wrap;
  }

  .portfolioCard {
    width: 30vw;
  }

  /* ----------- section CONTACT ----------- */
  /* title, form, social media */
}

/* MOBILE FIRST APPROACH - LARGE DESKTOP BELLOW */
@media screen and (min-width: 1441px) {
  .portfolioCard {
    width: 24vw;
  }
  /* why isn't it working? changes all to prior to quiries. */
}
