/* ----------- defaults -----------  */
/* ----------- body ----------- */
/* ----------- header ----------- */
/* heroSection, absolute - topContainer (myName, logos) Nav (optionsBar, button, optionsList),  */
/* ----------- TOP ----------- */
/* ----------- NAV ----------- */
/* ----------- HERO ----------- */

/* ----------- main ----------- */
/* about, portfolio (p1, p2, p3), contact (form) */
/* ----------- section ABOUT ----------- */
/* text and image */
/* ----------- section PORTFOLIO ----------- */
/* container, p1, p2, p3 */
/* ----------- section CONTACT ----------- */
/* title, form, */

/* ----------- footer ----------- */
/* Name, copyright */

/* MOBILE FIRST APPROACH - TABLET BELLOW */
/* MOBILE FIRST APPROACH - MOBILE BELLOW */
/* main changes: 
      changes header topContainer nav list
      header hero sizing 
      portfolio */

/* colors: 
  titles rgb(68, 58, 58)
  other text rgb(114, 97, 97)
  main background rgba(229, 195, 195, 255)
  second background rgba(179, 207, 210, 255)
  blurr backgrounds rgb(206,175,175)
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.49); */

/* ----------- defaults -----------  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
li {
  color: rgb(68, 58, 58);
}

h2 {
  font-size: 20px;
}

p {
  color: rgb(114, 97, 97);
}

span {
  font-weight: bold;
}

button,
a {
  font-weight: bold;
  color: rgb(68, 58, 58);
}

button,
input[type="submit"],
i,
li {
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.49);
  background-color: white;
}

.desktopView {
  display: none;
}

/* ----------- body ----------- */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(179, 207, 210, 255);
  /* overflow: overlay; wanted to hide scrollbar but didn't work as I wanted */
  /* background-image: linear-gradient(to bottom right, #ecd3d7, #e8c9cc); */
}

/* ----------- header ----------- */
/* topContainer (myName, logos) Nav (optionsBar, button, optionsList), heroSection */
/* ----------- TOP ----------- */
.topContainer {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
  top: 0px;
  /* how do I make this the whole line and not transparent? it's not on top of the next absolute */
  /* why there's a space at the top? */
  background-color: rgba(179, 207, 210, 255);
}

#myName {
  font-size: 20px;
}

.logos {
  display: flex;
  width: 75vw;
  height: 75px;
  /* gap: 30px; not needed because of next line */
  justify-content: space-evenly;
  align-items: center;
}

.logos i {
  color: white;
  font-size: 30px;
}

.logos i:hover {
  font-size: 35px;
}

/* ----------- NAV ----------- */
.collapsible {
  background-color: rgba(229, 197, 198, 255);
  font-size: 30px;
  padding: 8px 12px;
  margin: 3px;
  border-radius: 5px;
  color: rgb(68, 58, 58);
}

.buttonContent {
  display: none;
  position: fixed;
  right: 0px;
  top: 75px;
  background-color: rgba(179, 207, 210, 1);
  list-style-type: none;
  padding: 10px;
}

.buttonContent li {
  background-color: rgba(229, 197, 198, 255);
  padding: 5px 10px;
  margin: 10px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  border: 1px solid grey;
  color: rgb(68, 58, 58);
}

.buttonContent li:hover {
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.49);
  background-color: white;
}

/* ----------- HERO ----------- */

header {
  background-color: rgba(229, 195, 195, 255);
}

.heroSection img {
  position: relative;
  width: 100vw;
  margin-top: 70px;
}

.heroText {
  background-color: rgba(206, 175, 175, 0.5);
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 105px;
  left: 5vw;
  text-align: center;
}

.heroText p {
  font-size: 12px;
}

.heroText h1 {
  font-size: 25px;
}

.hireMe {
  margin-top: 10px;
  padding: 3px 7px;
  background-color: rgba(179, 207, 210, 255);
  /* box-shadow: 8px; - not working, check later */
}

.hireMe:hover {
  background-color: white;
  /* box-shadow: 8px; - not working, check later */
}

/* ----------- main ----------- */
/* about, portfolio (p1, p2, p3), contact (form) */

/* ----------- section ABOUT ----------- */
/* text and image */

.about {
  /* background-color: rgb(230, 240, 240); */
  /* deciding if giving it another color or not */
  padding: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* ----------- section PORTFOLIO ----------- */
/* container, p1, p2, p3 */

.portfolio {
  padding: 1vw;
}

.portfolio h1 {
  margin-bottom: 1vh;
}

.portfolioCard {
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  /* background-color: rgba(229, 195, 195, 1); */
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}
.portfolioCard:hover {
  background-color: rgba(229, 195, 195, 1);
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.49);
}

.portfolioCard:hover .portfolioImage {
  color: white;
  background-color: rgba(229, 195, 195, 1);
}

.portfolioLinks a:hover {
  font-size: 14px;
  text-decoration: none;
  background-color: white;
}

.portfolioItemTitle {
  text-align: center;
}

.portfolioImage {
  font-size: 200px;
  color: rgba(179, 207, 210, 255);
  background-color: white;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.portfolioInfo {
  font-size: 18px;
  text-align: justify;
  margin: 10px 25px;
}

.portfolioLinks {
  display: flex;
  justify-content: space-evenly;
}

.portfolioLinks a {
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(229, 195, 195, 1);
  border-radius: 5px;
  padding: 8px;
  border: 1px solid grey;
}

/* ----------- section CONTACT ----------- */
/* title, form */

.contact {
  /* background-color: rgb(139, 85, 160); */
  padding: 1vw;
  margin-bottom: 1vh;
}

.formContainer {
  display: block;
  text-align: center;
  color: rgb(68, 58, 58);
  background-color: rgba(229, 195, 195, 1);
  border-radius: 10px;
  padding: 10px;
  margin-top: 1vh;
  text-decoration: none;
}

.alignForm {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

input,
textarea {
  border: none;
  border-radius: 5px;
}

input {
  padding: 4px 55px;
}

/* textarea {
  padding: 4px 10px;
} */

input[type="submit"] {
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: rgb(68, 58, 58);
  background-color: rgba(179, 207, 210, 255);
  border-radius: 5px;
  padding: 8px;
  border: 1px solid grey;
  margin-top: 1vh;
}

input[type="submit"]:hover {
  background-color: white;
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.49);
}

/* ----------- footer ----------- */
/* Name, copyright */
footer {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
  font-weight: bold;
  /* find out why this and top are not a full lenght box */
}

footer p {
  color: rgb(68, 58, 58);
}

.adjustFooter {
  margin-right: 5vw;
}

/* MOBILE FIRST APPROACH - TABLET BELLOW */
@media screen and (min-width: 501px) and (max-width: 800px) {
  .portfolioCards {
    display: flex;
    flex-wrap: wrap;
  }

  /* do I need this? makes no difference
   .p1 {
    flex: 0 1 47%;
  }

  .p2 {
    flex: 0 1 47%;
  }

  .p3 {
    flex: 0 1 47%;
  }

  .p4 {
    flex: 0 1 47%;
  } */

  .portfolioCard {
    width: 45vw;
  }

  /* .contactFlex {
    display: flex;
  } flexing, only needed if adding the social media */

  /* .socialMedia {
    display: flex;
    flex-direction: column;
  } */
}

/* MOBILE FIRST APPROACH - DESKTOP BELLOW */
@media screen and (min-width: 801px) {
  /* ----------- defaults -----------  */

  .mobileView {
    display: none;
  }

  .desktopView {
    display: inline;
  }

  /* ----------- body ----------- */
  /* ----------- header ----------- */
  /* topContainer (myName, logos) Nav (optionsBar, button, optionsList), heroSection */
  /* ----------- NAV ----------- */
  /* ----------- TOP ----------- */
  /* reversing the order of the top components */
  .topContainer {
    display: flex;
  }

  #myName {
    order: 1;
  }
  #logos {
    order: 3;
  }
  #navOptions {
    order: 2;
    flex-grow: 1;
  }

  .optionsList {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px;
  }

  .optionsList li {
    background-color: rgba(229, 197, 198, 255);
    padding: 5px 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    border: 1px solid grey;
    color: rgb(68, 58, 58);
  }

  .optionsList li:hover {
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.49);
    background-color: white;
  }

  .logos {
    display: flex;
    width: 15vw;
    height: 75px;
    align-items: center;
  }

  .logos i {
    color: white;
    font-size: 30px;
  }
  /* 
  waiting for help to decide - need to position against the img
  .heroText {
    top: 10%;
    left: 10%w;
  } */

  /* ----------- HERO ----------- */

  .heroSection img {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0 0 8px 8px white inset;
    I want to fade/blur the edges but isn't working
    https://codepen.io/burtclan/pen/mLqxC 
    https://stackoverflow.com/questions/24709915/blur-the-edges-of-an-image-or-background-image-with-css*/
  }

  /* ----------- main ----------- */
  /* about, portfolio (p1, p2, p3), contact (form) */
  /* ----------- section ABOUT ----------- */
  /* text and image */
  /* ----------- section PORTFOLIO ----------- */
  /* container, p1, p2, p3 */

  .portfolioCards {
    display: flex;
    flex-wrap: wrap;
  }

  .portfolioCard {
    width: 30vw;
  }

  /* ----------- section CONTACT ----------- */
  /* title, form, */
}

/* MOBILE FIRST APPROACH - LARGE DESKTOP BELLOW */
@media screen and (min-width: 1441px) {
  .portfolioCard {
    width: 24vw;
  }
  /* why isn't it working? changes all to prior to quiries. */
}
